*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
.box{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #0f2b63, #157788);
    padding: 10px;
}
.logo{
    width:100%;
    max-width: 520px;
    background-color: rgb(66, 134, 151);
    margin: 90px auto 20px;
    padding: 30px 30px 50px;
    border-radius: 10px;
}
.logo h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.logo h2 img{
    width: 50px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline:none;
    padding: 16px 50px;
    background: #17495e;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content:" ";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(Images/uncheck.png);
    background-size: cover;
    background-position: center;
    top:12px;
    left: 8px;
}

ul li.checked{
    color: #17495e;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(Images/check.png);
}

ul li span{
    position: absolute;
    right:0;
    top:5px;
    width:40px;
    height: 40px;
    font-size: 22px;
    color: #17495e;
    line-height:40px;
    text-align:center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}

@media (max-width: 768px) {
    .logo {
        margin: 50px 20px;
        padding: 20px;
    }

    .row {
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
    }

    .row input {
        margin-bottom: 10px;
        width: 100%;
    }

    .row button {
        width: 100%;
        padding: 12px;
    }

    ul li {
        padding: 10px 8px 10px 40px;
        font-size: 16px;
    }

    ul li::before {
        top: 10px;
        left: 5px;
        height: 24px;
        width: 24px;
    }

    ul li span {
        top: 4px;
        width: 30px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
    }
}




